.image {
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/bg/tribunal_1.png");
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Posicionar el botón relativamente a este contenedor */
  }
  
  .nextButton {
    position: absolute; /* Posiciona el botón absolutamente dentro de .image */
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    left: 10px; /* Ajusta la distancia desde la parte izquierda */
    padding: 0.5em 1em; /* Añade un poco de relleno para mejorar la apariencia */
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 0.25em; /* Añade un poco de borde redondeado */
    cursor: pointer; /* Cambia el cursor a mano */
    font-size: 1em; /* Tamaño de la fuente */
  }
  
  .nextButton:hover {
    background-color: #0056b3; /* Color de fondo del botón cuando se pasa el ratón por encima */
  }
  
  .continueButton {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #562e7e;
    color: white;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    animation: pulse 1s infinite; /* Añadir animación de pulsación */
  }
  
  .continueButton:hover {
    background-color: #361c50;
  }
  
  .smallButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px; /* Ajusta el tamaño de la imagen del botón */
    height: auto;
    cursor: pointer;
  }
  
  .popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popupContent {
    position: relative;
    background: white;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
  }
  
  .realImage {
    max-width: 90vw;
    max-height: 90vh;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .closeIcon {
    width: 30px; /* Ajusta el tamaño del icono de cierre */
    height: auto;
    display: inline-block;
    animation: pulse 1s infinite;
  }
  
  .closeButton {
    position: absolute;
    top: 20px; /* Baja un poco el icono */
    right: 20px; /* Muévelo un poco a la izquierda */
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .closeIcon:hover {
    animation: none; /* Detiene la animación al pasar el mouse */
  }
  