.image {
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/bg/tribunal_1.png");
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Añade esta línea para posicionar el botón relativamente a este contenedor */
}

.nextButton {
    position: absolute; /* Posiciona el botón absolutamente dentro de .image */
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    left: 10px; /* Ajusta la distancia desde la parte izquierda */
    padding: 0.5em 1em; /* Añade un poco de relleno para mejorar la apariencia */
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 0.25em; /* Añade un poco de borde redondeado */
    cursor: pointer; /* Cambia el cursor a mano */
    font-size: 1em; /* Tamaño de la fuente */
}

.nextButton:hover {
    background-color: #0056b3; /* Color de fondo del botón cuando se pasa el ratón por encima */
}

.continueButton {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
  }
  
  .continueButton:hover {
    background-color: #218838;
  }
  
