.character {
    width: 100%;
    height: auto;
    max-width: 100%; 
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.character img {
    width: 100%;
    height: auto;
    transition: transform 0.2s;
}

.character img:hover {
    transform: scale(0.9); /* Ejemplo de animación al pasar el mouse */
}
