@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulseText {
  display: inline-block;
  animation: pulse 1s infinite;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: rgb(247, 200, 255);
  padding: 2em;
  border-radius: 0.5em;
  text-align: center;
  max-width: 80%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.videoContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.video {
  max-width: 75%; /* Ajusta el tamaño del video */
  max-height: 60vh;
}

.exampleVideo {
  border: 3px dashed red; /* Borde punteado rojo */
  padding: 5px; /* Espacio entre el borde y el video */
}

.forwardArrow {
  width: 50px; /* Ajusta el tamaño de la flecha */
  height: auto;
  cursor: pointer;
  margin: 0 auto;
  display: inline-block;
  animation: pulse 1s infinite;
}

.forwardArrow:hover {
  animation: none; /* Detiene la animación al pasar el mouse */
}

.closeButton {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #000;
}
